{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Market{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div><a href="{{ url_for('market_bp.update_alerts') }}">Update Alerts</a></div>
    <table style="width:100%">
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>{{ currency }}</td>
        <td>{{ response['price'] }}</td>
        <td>{{ response['time'].strftime('%H:%M:%S') }}</td>
      </tr>
    </table>
    <form>
        <div class="dropdown">
            <div>{{ form.currency.label }}</div>
            <div>{{ form.currency() }}</div>
        </div>
        <button type="submit" class="btn">{{ form.submit() }}</button>
    </form>
{% endblock %}